<img style="width:100%;" src="{{ site.baseurl }}/images/1.jpg">

<div class="row">


<div class="col-md-4">

    <h2>Sri Lanka </h2>

    <p>
        Sri Lanka, a small island nation south of India in the Indian Ocean, is a rugged land of rainforest, diverse wildlife and endless beaches. It’s famed for its ancient Buddhist ruins, including the 5th-century citadel Sigiriya, with its palace and frescoes, and the sacred city of Anuradhapura. Its flavorful cuisine reflects its history as a maritime hub and cultural melting pot.
    </p>
    <blockquote>
        Sri Lanka is endowed with a hydraulic civilization natured by a rich Irrigation Heritage. We are committed to keep these traditions alive by the development and management of the water and land resources for sustainable use.
    </blockquote>
    <p> While providing water for paddy cultivation, to produce the staple diet, rice for food security of the Nation, all other water needs of the respective Regions have to be fulfilled.
    </p>

</div>
<div class="col-md-4">
<h2>INWEPF </h2>
<blockquote>
INWEPF is the International Network for Water and Ecosystems in Paddy Fields </blockquote>
<p>
The INWEPF is established to provide a forum to realize the three challenges by promoting dialogue, exchanging knowledge and experiences, creating synergy among existing forums and strengthening capacity building in agricultural water management in paddy fields with due consideration for environmental aspects.
</p>

<p>
Rice is the most important crop for the countries in the Asian monsoon region, providing staple food for the people. As the population is rapidly increasing yet available freshwater resources are very limited, it is crucially important to promote sustainable water use in paddy fields with better governance including participatory irrigation management.
</p>


</div>
<div class="col-md-4">
<div id="conferencebox">
<h2>INWEPF Symposium 2015 Colombo - Sri Lanka </h2>
<h3>  1 June - 19 August, 2015</h3>

<p>The world's growing population and changing consumption patterns will continue to drive demand for food. Agriculture is the biggest user of freshwater, accounting for a global average of 70% of all water withdrawals.
It is a common recognition that water is essential for broad-based agricultural and rural development in order to meet the Millennium Development Goals to improve food security and alleviate poverty.

</p>  <a class="btn" href="{{ site.baseurl }}/symposium2015">VISIT SYMPOSIUM PAGE</a>
</div>
</div>

</div>



 {% include nav.html %}
