<div style='position: absolute;width: auto;margin-left: -200px;left: 50%;background: #fff;text-align: left;'>


    <div class="col-md-4 ">
        <br /><br />
        <h1><img  style='margin:0 auto' id='logoimg' src="{{ site.baseurl }}/images/inwepf_logo.png"></h1> </a>

        <h2 class="subtitle"><br/><br /><br /><br />Sri Lanka commitee of the International Network for Water and Ecosystems in Paddy Fields</h2>

    </div>

</div>



<img class="img-responsive" style="width:100%;" src="{{ site.baseurl }}/images/1.jpg">


<div class="container" style='margin-top:-10px; padding-top:30px;' >

    <div class="row">


        <div class="col-md-4">

            <h2>Sri Lanka </h2>

            <p>

                Sri Lanka, the Pearl of the Indian Ocean gets its widely acclaimed reputation via two main streams among academics. First one is the diversification of natural habitats of the land and next, the centuries old irrigation system constructed by the ancient knowledge. From the third century of great Anuradapura era the manmade tanks, canals and related cultivation traditions made a great contribution to shape the culture and customs of the people of the island. And still continues…
            </p>

        </div>
        <div class="col-md-4">
            <h2>INWEPF </h2>
            <blockquote>
                INWEPF is the International Network for Water and Ecosystems in Paddy Fields </blockquote>
            <p>
                INWEPF, International Network for Water and Ecosystems in Paddy Fields is the organizational body to enhance the sustainable water use in paddy fields with better governance. INWEPF works towards promoting dialogue, exchanging knowledge and experiences and creating synergy among existing forums. INWEPF prefers participatory irrigation management strategies for strengthening and capacity building in agricultural water management in paddy fields with a crucial persuasion on sensitive environmental aspects.

            </p>


        </div>
        <div class="col-md-4">
            <div id="conferencebox">
                <h2>INWEPF Symposium 2015 Colombo - Sri Lanka </h2>
                <h3>  1 June - 19 August, 2015</h3>

                <p>Growing population and increasing high-consumption patterns of modern society continues to drive an accelerated demand for annual food need. Agriculture is the biggest user of freshwater, accounting for a global average of 70% of all water withdrawals. It is a common recognition that water is essential for broad-based agricultural and rural development in order to meet the Millennium Development Goals to improve food security and alleviate poverty.

                </p> <a class="btn" href="{{ site.baseurl }}/symposium2015">VISIT SYMPOSIUM PAGE</a>
            </div>
        </div>

    </div>

</div>
<img class="img-responsive" style="width:100%;" src="{{ site.baseurl }}/images/44.jpg">

<div class="container" style='margin-top:-10px; padding-top:30px;' >

    {% include nav.html %}