<div class="grid grid-pad">


    <div class="col-1-2 mobile-col-1-1">
        <h1><img id='logoimg' src="images/inwepf_logo.jpg">INWEPF Sri Lanka</h1>
       
    </div> 
        <div class="col-1-2 mobile-col-1-1">

    
            <h2 class="subtitle">Sri Lanka commitee of the <br>International Network for Water and Ecosystems in Paddy Fields</h2>
    </div>



</div>
  


<img src="images/rajangaspill.jpg">
   





<div class="grid grid-pad">

  
        <div class="col-1-3">
            
                         <h2>Sri Lanka </h2> 

            <p>Sri Lanka, a small island nation south of India in the Indian Ocean, is a rugged land of rainforest, diverse wildlife and endless beaches. It’s famed for its ancient Buddhist ruins, including the 5th-century citadel Sigiriya, with its palace and frescoes, and the sacred city of Anuradhapura. Its flavorful cuisine reflects its history as a maritime hub and cultural melting pot.</p>
           <blockquote>Sri Lanka is endowed with a hydraulic civilization natured by a rich Irrigation Heritage. We are committed to keep these traditions alive by the development and management of the water and land resources for sustainable use.</blockquote><p> While providing water for paddy cultivation, to produce the staple diet, rice for food security of the Nation, all other water needs of the respective Regions have to be fulfilled.</p>

            </div>
         <div class="col-1-3">
             <h2>INWEPF </h2> 
 <blockquote>INWEPF is the International Network for Water and Ecosystems in Paddy Fields </blockquote>
                          <p>
The INWEPF is established to provide a forum to realize the three challenges by promoting dialogue, exchanging knowledge and experiences, creating synergy among existing forums and strengthening capacity building in agricultural water management in paddy fields with due consideration for environmental aspects.
</p>

            <p>
Rice is the most important crop for the countries in the Asian monsoon region, providing staple food for the people. As the population is rapidly increasing yet available freshwater resources are very limited, it is crucially important to promote sustainable water use in paddy fields with better governance including participatory irrigation management.
</p>
      

        </div>
                 <div class="col-1-3">
                     <div id="conferencebox">
             <h2>INWEPF<br> Internatinal Conference 2015 - Sri Lanka </h2> 
                         <h3>  1 June - 19 August, 2015</h3>
                        
<p>The world's growing population and changing consumption patterns will continue to drive demand for food. Agriculture is the biggest user of freshwater, accounting for a global average of 70% of all water withdrawals.
It is a common recognition that water is essential for broad-based agricultural and rural development in order to meet the Millennium Development Goals to improve food security and alleviate poverty.

</p>  <a class="btn" href="{{ site.baseurl }}/conference2015">VISIT CONFERENCE PAGE</a>
        </div>
        </div>

</div>

<div class="grid grid-pad">
            <a class="big btn" href="/srilanka">About INWEPF Sri Lanka</a> <a class="big btn" href="/srilanka">Sri Lankan Hydraulic Civilization</a>

</div>
<div class="grid grid-pad">
             <h2>Stakeholders of INWEPF Sri Lanka</h2> 

</div>
<br><br>
<img src="images/2.jpg">

<!--

<div class="grid grid-pad">

    {% for tag in site.tags %} {% assign t = tag | first %} {% assign posts = tag | last %} {% for post in posts %} {% if post.tags contains t %}
    <div class="post">
        <div class="col-1-3">

            <div class="tile {{ post.background }} {{ post.catagory }}">

                <label for="{{ post.name }}"></label>
                <h2>{{ post.title }}</h2>
                <div class="category">{{ post.category }}{{ post.tags }}&nbsp; </div>
                <div class="category">{{ post.status }} | Updated {{ post.date | date: '%B %d, %Y' }}</div>



                </h2> {{ post.content }}

            </div>

        </div>

        {% endif %}</div> {% endfor %} {% endfor %}

</div>
-->
